@using MVC5TicariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "DepartmanPersonelSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Departman Personel Satış</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Personel Adı :@ViewBag.dgr3</li>
</ol>
<table class="table table-condensed">
    <tr> 
        <th>Ürün</th>
        <th>Cari</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Uruns.UrunAd</td>
            <td>@item.Carilers.CariAd @item.Carilers.CariSoyad</td>
            <td>@item.Fiyat ₺</td>
            <td>@item.Adet</td>
            <td>@item.ToplamTutar</td>
            <td>@item.Tarih</td>
            <td><a href="#" class="btn btn-outline-secondary">Yazdır</a></td>
        </tr>
    }




</table>
