@model MVC5TicariOtomasyon.Models.Siniflar.Faturalar
@{
    ViewBag.Title = "FaturaGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 class="text-center text-info">Fatura Güncelleme</h2>


@using (Html.BeginForm("FaturaGuncelle", "Fatura", FormMethod.Post))

{@Html.HiddenFor(X => X.Faturaid)
@Html.LabelFor(x => x.FaturaSeriNo)
@Html.TextBoxFor(x => x.FaturaSeriNo, new { @class = "form-control" })
<br />
@Html.LabelFor(x => x.FaturaSıraNo)
@Html.TextBoxFor(x => x.FaturaSıraNo, new { @class = "form-control" })
<br />

@Html.LabelFor(x => x.VergiDairesi)
@Html.TextBoxFor(x => x.VergiDairesi, new { @class = "form-control" })
<br />

@Html.LabelFor(x => x.Tarih)
@Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
<br />

@Html.LabelFor(x => x.Saat)
@Html.TextBoxFor(x => x.Saat, new { @class = "form-control" })
<br />
@Html.LabelFor(x => x.TeslimEden)
@Html.TextBoxFor(x => x.TeslimEden,  new { @class = "form-control" })
@*@Html.TextBoxFor(x => x.kategoriid, new { @class = "form-control" })*@
<br />
@Html.LabelFor(x => x.TeslimAlan)
@Html.TextBoxFor(x => x.TeslimAlan, new { @class = "form-control" })
<br />
@*@Html.LabelFor(x => x.Durum)
@Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })
<br />*@
<button class="btn btn-outline-warning">Güncelle</button>
}